<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initialscale =1, maximum-scale=1.0, user-scalable=no"/>
    <title>Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
</head>
<body background="/css/server.jpeg">
<nav>
    <div class="nav-wrapper blue lighten-3">
            <span class="blue-text text-darken 2">
                <a href="#" class="brand-logo right">Logo</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down blue-text text-darken-2">
                    <li><a href="/" class="grey-text text-darken-1">Strona główna</a></li>
                    <li><a href="/login" class="grey-text text-darken-1">Zaloguj</a></li>
                    <li><a href="/register" class="grey-text text-darken-1">Zarejestruj</a></li>
                    <li><a href="" class="grey-text text-darken-1">Kontakt</a></li>
                </ul>
            </span>
    </div>
</nav>
    <section layout:fragment="content">
        <p>X</p>
    </section>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>


</body>
</html>