<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initialscale =1, maximum-scale=1.0, user-scalable=no"/>
    <title>Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
</head>
<body background="/css/server.jpeg">
<nav>
    <div class="nav-wrapper blue lighten-3">
        <span class="blue-text text-darken 2">
            <a href="/" class="brand-logo right">Logo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down blue-text text-darken-2" >
               <!-- <li sec:authorize="hasRole('ROLE_USER')"><a href="/user_main" class="grey-text text-darken-1" >Strona główna</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin_console" class="grey-text text-darken-1">Strona główna</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin_notifications" class="grey-text text-darken-1 red lighten-3">Powiadomienia</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin_offers" class="grey-text text-darken-1">Panel zarządzania ofertami</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="" class="grey-text text-darken-1">Panel zarządzania kontami użytkowników</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="" class="grey-text text-darken-1">Ustawienia konta</a></li>-->
            <section layout:fragment="nav" >

            </section>
                <!--<li sec:authorize="hasRole('ROLE_ADMIN','ROLE_USER')" ><a  th:href="@{/logout}" class="grey-text text-darken-1">Wyloguj</a></li>-->
            </ul>
        </span>
    </div>
</nav>
Logged user: <span sec:authentication="name">Bob</span>
Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    <section layout:fragment="content">
        <p>X</p>
    </section>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>