<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      lang="pl"
      layout:decorator="layout/default">
<head lang="pl">
    <meta charset="UTF-8"/>
    <title th:text="#{messages.admin.console.title}">Administrator console</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col s12">
        <h2 class="red-text text-darken-3 center">
            <b th:text="#{messages.admin.console.mainHeader}">You are logged in as an administrator</b>
        </h2>
    </div>

    <div class="col s4 offset-s4 blue lighten-4">
        <div class="row valign-wrapper">
            <div class="col s5"><p class="left-align" th:text="#{messages.admin.console.label.newNotificationsNumber}">
                New notifications:</p></div>
            <div class="col s3"><p class="right-align"><b th:text="${unreadNotificationNumber}">ILOŚĆ</b></p></div>
            <div class="col s4">
                <a class="waves-effect waves-light right-align btn"
                   th:href="@{/admin_notifications/{id}(id=${user.id})}"
                   th:text="#{messages.admin.console.label.notifications}">Notifications
                </a>
            </div>
        </div>

        <div class="row valign-wrapper">
            <div class="col s5">
                <p class="left-align" th:text="#{messages.admin.console.label.pastPayDateUsersNumber}">
                    Users past pay date:
                </p>
            </div>
            <div class="col s3" style="vertical-align: middle;"><p class="right-align">
                <b th:text="${pastPayDateNumber}">ILOŚĆ</b></p></div>
            <div class="col s4">
                <a class="waves-effect waves-light btn right-align modal-trigger"
                   th:href="@{/admin_users/{id}(id=${user.id})}"
                   th:text="#{messages.admin.console.label.users}">Users</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>