<!DOCTYPE html>
<html   lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default"
        xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="pl">
    <meta charset="UTF-8"/>
    <title>Panel zarządzania ofertami</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col s12">
        <h2 class="red-text text-darken-3 center"><b>Panel zarządzania ofertami</b></h2>
    </div>

    <div class="col s4 offset-s4 blue lighten-4">
        <div class="row"></div>
        <div class="row valign-wrapper">
            <div class="center">
                <a class="waves-effect waves-light btn-large center-align"  th:href="@{/admin_addOffer/{id}(id=${user.id})}">Dodaj ofertę</a>
            </div>
        </div>
        <ul class="collapsible" data-collapsible="accordion">
            <li th:each="offer : ${offers}">
                <div class="collapsible-header" th:text="'OFERTA: '+${offer.name}">OFERTA #1</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s6 align-left">
                            <p th:text="${offer.description}">Opis oferty</p>
                        </div>
                    </div>
                    <div class="row">
                        <table class="left">
                            <thead>
                            <tr>
                                <th>Prędkość pobierania</th>
                                <th>Prędkość wysyłania</th>
                                <th>Cena</th>
                                <th>Liczba użytkowników</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${offer.downloadSpeed}">Prędkość pobierania</td>
                                <td th:text="${offer.uploadSpeed}">Prędkość wysyłania</td>
                                <td th:text="${offer.price}">Cena</td>
                                <td th:text="${offer.usersCount}">Liczba użytkowników</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" >
                        <form class="col s6 blue lighten-4" th:action="@{/admin_deleteOffer/{id}/{offerId}(id=${user.id},offerId=${offer.id})}"
                              method="post" role="form">
                            <div class="center">
                                    <button class="btn waves-effect waves-light red" type="submit" name="action">Usuń
                                        <i class="material-icons right">clear</i>
                                    </button>
                            </div>
                        </form>
                        <form class="col s6 blue lighten-4" th:action="@{/admin_editOffer/{id}/{offerId}(id=${user.id},offerId=${offer.id})}" method="get" role="form">
                            <div class="center">
                                <button class="waves-effect waves-light btn-large center-align" type="submit" name="action">Edytuj
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>

</body>
</html>