<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="pl">
    <meta charset="UTF-8"></meta>
    <title>Panel zarządzania użytkownikami</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col s12">
        <h2 class="red-text text-darken-3 center"><b>Panel zarządzania użytkownikami</b></h2>
    </div>

    <div class="col s4 offset-s4 blue lighten-4">
        <p>Lista użytkowników systemu. Na czarwono wyróżnieni są użytkownicy zalegający z zapłatą.</p>

        <ul class="collapsible" data-collapsible="accordion">
            <li th:each="user : ${users}">
                <div th:if="${user.haveDebt == true}" class="collapsible-header red lighten-3" th:text="'Użytkownik: '+${user.firstName}+' '+${user.lastName}">Użytkownik #1</div>
                <div th:if="${user.haveDebt == false}" class="collapsible-header" th:text="'Użytkownik: '+${user.firstName}+' '+${user.lastName}">Użytkownik #1</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s6 align-left">
                            <p><b>Nazwa usługi:</b></p>
                        </div>
                        <div class="col s6 left-align">
                            <p th:text="${user.offerName}"></p>
                        </div>
                        <div class="col s6 left-align">
                            <p>
                                <b>Imię:</b>
                            </p>
                        </div>
                        <div class="col s6 left-align">
                            <p th:text="${user.firstName}">  IMIĘ </p>
                        </div>
                        <div class=" col s6 align-left">
                            <p>
                                <b>Nazwisko:</b>
                            </p>
                        </div>
                        <div class="col s6 left-align">
                            <p th:text="${user.lastName}">  Nazwisko</p>
                        </div>
                        <div class=" col s6 align-left">
                            <p>
                                <b>Numer telefonu:</b>
                            </p>
                        </div>
                        <div class="col s6 left-align">
                            <p th:text="${user.phoneNumber}"> NUMER</p>
                        </div>
                        <div class=" col s6 align-left">
                            <p>
                                <b>Adres E-Mail:</b>
                            </p>
                        </div>
                        <div class="col s6 left-align">
                            <p th:text="${user.email}">EMAIL</p>
                        </div>
                        <div class=" col s6 align-left">
                            <p>
                                <b>Adres:</b>
                            </p>
                        </div>
                        <div class="col s6 left-align">
                            <p th:text="${user.address}">
                                Adres
                            </p>
                        </div>
                        <div class="col s6 align-left">
                            <p>
                                <b>PESEL:</b>
                            </p>
                        </div>
                        <div class="col s6 left-align">
                            <p th:text="${user.pesel}">
                                PESEL
                            </p>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
</html>