<!DOCTYPE html>
<html   lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default"
        xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <meta charset="UTF-8"></meta>
    <title>Dodawanie oferty</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
</head>
<body>

<ul id="nav-mobile" class="left hide-on-med-and-down blue-text text-darken-2" layout:fragment="nav">
    <li><a href="/admin_console" class="grey-text text-darken-1">Strona główna</a></li>
    <li><a href="/admin_notifications" class="grey-text text-darken-1 red lighten-3">Powiadomienia</a></li>
    <li><a href="/admin_offers" class="grey-text text-darken-1">Panel zarządzania ofertami</a></li>
    <li><a href="/admin_users" class="grey-text text-darken-1">Panel zarządzania kontami użytkowników</a></li>
    <li><a href="" class="grey-text text-darken-1">Ustawienia konta</a></li>
    <li><a href="" class="grey-text text-darken-1">Wyloguj</a></li>
</ul>

<div class="row" layout:fragment="content">
    <div class="col s12">
        <h2 class="red-text text-darken-3 center"><b>Dodawanie oferty</b></h2>
    </div>

    <div class="col s4 offset-s4 blue lighten-4">
        <div class="row">
            <form class="blue lighten-4" autocomplete="off" action="#" th:action="@{'/admin_addOffer/'+${user.id}}"
                  th:object="${offer}" method="post" role="form" data-toggle="validator">
                <p class="center">Dane oferty</p>
                <div class="row" id="personal_data">
                    <!--name-->
                    <div class="input-field col s6">
                        <label for="name">Nazwa</label>
                        <input id="name" type="text" th:field="*{name}" class="validate"/>
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                             class="validation-message alert alert-danger" role="alert"></div>
                    </div>
                    <!--description-->
                    <div class="input-field col s6">
                        <label for="description">Opis</label>
                        <input id="description" type="text" th:field="*{description}" class="validate"/>
                        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                             class="validation-message alert alert-danger" role="alert"></div>
                    </div>
                    <!--downSpeed-->
                    <div class="input-field col s6">
                        <label for="downloadSpeed">Deklarowana prędkość pobierania [Mb/s]</label>
                        <input id="downloadSpeed" type="text" th:field="*{downloadSpeed}" class="validate"/>
                        <div th:if="${#fields.hasErrors('downloadSpeed')}" th:errors="*{downloadSpeed}"
                             class="validation-message alert alert-danger" role="alert"></div>
                    </div>
                    <!--uploadSpeed-->
                    <div class="input-field col s6">
                        <label for="uploadSpeed">Deklarowana prędkość wysyłania [Mb/s]</label>
                        <input id="uploadSpeed" type="text" th:field="*{uploadSpeed}" class="validate"/>
                        <div th:if="${#fields.hasErrors('uploadSpeed')}" th:errors="*{uploadSpeed}"
                             class="validation-message alert alert-danger" role="alert"></div>
                    </div>
                    <!--price-->
                    <div class="input-field col s6">
                        <label for="price">Cena [zł/mc]</label>
                        <input id="price" type="text" th:field="*{price}" class="validate"/>
                        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                             class="validation-message alert alert-danger" role="alert"></div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Zatwierdź
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>