<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://thymeleaf.org/thymeleaf-extrasspringsecurity3">
<head lang="pl">
    <meta charset="UTF-8"></meta>
    <title>Sudo cmd</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
</head>
<body>
<a class="waves-effect waves-light btn">Wyświetl użytkowników</a>
<a class="waves-effect waves-light btn">Wyświetl użytkowników, którzy zalegają z opłatą</a>
<a class="waves-effect waves-light btn">Zobacz faktury użytkownika</a>
<a class="waves-effect waves-light btn">Usuń użytkownika</a>

</body>
</html>