<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://thymeleaf.org/thymeleaf-extrasspringsecurity3"
        layout:decorator="layout/default">
<head lang="pl">
    <title>Strona Twojego dostawcy internegowego!</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div align="center">
        <h2 class="indigo-text center">Witaj na stronie swojego dostawcy internetowego!</h2>
        <p2 class="indigo-text center">Teraz jeszcze więcej bajtów w Megabajcie!</p2>
    </div>
    <div style="text-align: center;">
        <a class="waves-effect waves-light btn " href="/home">Zaloguj się!</a>
    </div>
</div>
</body>
</html>