<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>Spring Security Example </title>
</head>
<body>
    <div class="row" layout:fragment="content">
        <div class="col s12">
            <h2 class="center black-text"><b>Zaloguj</b></h2>
        </div>

        <form class="col s4 offset-s4 blue lighten-4" th:action="@{/login}" method="post">
            <p class="center">Dane osobiste</p>
            <div class="row" id="personal_data">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">E-mail</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="password" class="validate">
                    <label for="last_name">Hasło</label>
                </div>
                <div class="center">
                    <a class="waves-effect waves-light btn-large">Zaloguj</a>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>