<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
      xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title th:text="#{messages.register.title}">Registration form</title>
</head>
<body>

<div class="row" layout:fragment="content">
    <div class="col s12">
        <h2 class="black-text center"><b th:text="#{messages.register.mainHeader}">Join us!</b></h2>
    </div>

    <div class="row">
        <form class="col s4 offset-s4 blue lighten-4" autocomplete="off" action="#" th:action="@{/register}"
              th:object="${user}" method="post" role="form" data-toggle="validator" name="myForm" onsubmit="return ValidationEvent()">
            <div th:if="${confirmationMessage}" class="alert alert-success" role="alert"
                 th:text="${confirmationMessage}"></div>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
            <p class="center" th:text="#{messages.register.label.userData}">User data</p>
            <div class="row" id="personal_data">
                <!--firstName-->
                <div class="input-field col s6">
                    <label for="firstName" th:text="#{messages.common.label.name}">Name</label>
                    <input id="firstName" type="text" th:field="*{firstName}" class="validate" name="firstName" required/>
                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                         class="validation-message alert alert-danger" role="alert"></div>
                </div>
                <!--lastName-->
                <div class="input-field col s6">
                    <label for="lastName" th:text="#{messages.common.label.surname}">Surname</label>
                    <input id="lastName" type="text" th:field="*{lastName}" class="validate" name="lastName" required/>
                    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                         class="validation-message alert alert-danger" role="alert"></div>
                </div>
                <!--pesel-->
                <div class="input-field col s6">
                    <label for="pesel" th:text="#{messages.common.label.pesel}">Pesel</label>
                    <input id="pesel" type="number" th:field="*{pesel}" class="validate" name="pesel" required/>
                    <div th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}"
                         class="validation-message alert alert-danger" role="alert"></div>
                </div>
                <!--phoneNumber-->
                <div class="input-field col s6">
                    <label for="phoneNumber" th:text="#{messages.common.label.phoneNumber}">Phone number</label>
                    <input id="phoneNumber" type="tel" th:field="*{address.phoneNumber}" class="validate" name="phoneNumber" required/>
                    <div th:if="${#fields.hasErrors('address.phoneNumber')}" th:errors="*{address.phoneNumber}"
                         class="validation-message alert alert-danger" role="alert"></div>
                </div>
                <!--street-->
                <div class="input-field col s6">
                    <label for="street" th:text="#{messages.register.label.street}">Street</label>
                    <input id="street" type="text" th:field="*{address.street}" class="validate" name="street" required/>
                    <div th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}"
                         class="validation-message alert alert-danger" role="alert"></div>
                </div>
                <!--city-->
                <div class="input-field col s6">
                    <label for="city" th:text="#{messages.register.label.city}">City</label>
                    <input id="city" type="text" th:field="*{address.city}" class="validate" name="city" required/>
                    <div th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"
                         class="validation-message alert alert-danger" role="alert"></div>
                </div>
                <!--cityCode-->
                <div class="input-field col s6">
                    <label for="cityCode" th:text="#{messages.register.label.zipCode}">Zip code (Use format: NN-NNN)</label>
                    <input id="cityCode" type="text" th:field="*{address.cityCode}" class="validate" name="cityCode" required/>
                    <div th:if="${#fields.hasErrors('address.cityCode')}" th:errors="*{address.cityCode}"
                         class="validation-message alert alert-danger" role="alert"></div>
                </div>
                <!--houseNumber-->
                <div class="input-field col s6">
                    <label for="houseNumber" th:text="#{messages.register.label.homeNumber}">Home number</label>
                    <input id="houseNumber" type="text" th:field="*{address.houseNumber}" class="validate" name="houseNumber" required/>
                    <div th:if="${#fields.hasErrors('address.houseNumber')}" th:errors="*{address.houseNumber}"
                         class="validation-message alert alert-danger" role="alert"></div>
                </div>
                <!--apartmentNumber-->
                <div class="input-field col s6">
                    <label for="apartmentNumber" th:text="#{messages.register.label.apartmentNumber}">Apartment number</label>
                    <input id="apartmentNumber" type="text" th:field="*{address.apartmentNumber}" class="validate" name="apartmentNumber" required/>
                    <div th:if="${#fields.hasErrors('address.apartmentNumber')}" th:errors="*{address.apartmentNumber}"
                         class="validation-message alert alert-danger" role="alert"></div>
                </div>

            </div>
            <p class="center" th:text="#{messages.register.label.loginData}">Login data</p>
            <div class="row" id="login_data">
                <!--email-->
                <div class="input-field col s6">
                    <label for="email" th:text="#{messages.common.label.email}">E-mail</label>
                    <input id="email" type="email" th:field="*{email}"class="validate" name="email" required/>
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                         class="validation-message alert alert-danger" role="alert"></div>
                </div>
                <!--password-->
                <div class="input-field col s6">
                    <label for="password" th:text="#{messages.common.label.password}">Password</label>
                    <input id="password" type="password" th:field="*{password}" class="validate" name="password" required/>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                         class="validation-message alert alert-danger" role="alert"></div>
                </div>
                <!--rePassword-->
                <div class="input-field col s6">
                    <label for="rePassword" th:text="#{messages.register.label.rePassword}">Repeat password</label>
                    <input id="rePassword" type="password" class="validate" name="rePassword" onkeyup="checkPass(); return false;" required/>
                </div>

                <div class="col s6">
                    <p class="center"><span class="errorTxt13" id="errorMsg"></span></p>
                </div>

                <div class="row">
                    <p>
                        <input type="checkbox" class="filled-in" id="agree" data-error=".errorTxt13" required/>
                        <label for="agree" th:text="#{messages.register.label.agreement}">I consent to the processing of my personal data, and I declare that I have read the terms and conditions of the website.</label>
                    </p>
                </div>

                <script>
                    function checkPass()
                    {
                        //Store the password field objects into variables ...
                        var pass1 = document.getElementById('password');
                        var pass2 = document.getElementById('rePassword');
                        //Store the Confimation Message Object ...
                        var message = document.getElementById('errorMsg');
                        //Set the colors we will be using ...
                        //Compare the values in the password field
                        //and the confirmation field
                        if(pass1.value == pass2.value)
                        {
                            //The passwords match.
                            //Set the color to the good color and inform
                            //the user that they have entered the correct password
                            //pass2.style.backgroundColor = goodColor;
                            //message.style.color = goodColor;
                            message.innerHTML = "Hasła się zgadzają"
                        }
                        else
                        {
                            //The passwords do not match.
                            //Set the color to the bad color and
                            //notify the user.
                            //pass2.style.backgroundColor = badColor;
                            //message.style.color = badColor;
                            message.innerHTML = "Hasła się różnią!"
                        }
                    }


                </script>
            </div>

            <div class="col s4 offset-s4 blue lighten-4">
                <div class="row valign-wrapper">
                    <div class="center">
                        <button class="btn waves-effect waves-light" type="submit" name="action" th:text="#{messages.register.button.register}">Register
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <script>
            function ValidationEvent()
            {
                var firstName = document.getElementById("firstName").value;
                var secondName = document.getElementById("lastName").value;
                var phoneNumber = document.getElementById("phoneNumber").value;
                var pesel = document.getElementById("pesel").value;
                var password = document.getElementById("password").value;
                var rePassword = document.getElementById("rePassword").value;
                var cityCode = document.getElementById("cityCode").value

                if(pesel.length != 11)
                {
                    alert("Dlugość numeru PESEL powinna wynosić 11. Ty podałeś: " + pesel.length);
                    return false;
                }
                else if(phoneNumber.length != 9)
                {
                    alert("Dlugość numeru telefonu powinna wynosić 9 znaków. Ty podałeś: " + phoneNumber.length);
                    return false;
                }
                else if(password != rePassword)
                {
                    alert("Podane hasła się różnią!");
                    return false;
                }
                else if(password.lenght < 8)
                {
                    alert("Hasło musi mieć co najmniej 8 znaków!" + password.length);
                    return false;
                }
                else if(firstName.lenght < 3)
                {
                    alert("Imię musi mieć co najmniej 3 znaki. Ty podałeś: " + firstName.length);
                    return false;
                }
                else if(lastName.length < 3)
                {
                    alert("Nazwisko musi mieć co najmniej 3 znaki. Ty podałeś: " + lastName.length);
                    return false;
                }
                else if(cityCode[2] != '-' || cityCode.length != 6)
                {
                    alert("Błędny numer pocztowy");
                    return false;
                }
                else
                {
                    return true;
                }

            }
        </script>
    </div>

</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-validation/additional-methods.min.js"></script>

<!-- Bootstrap -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Bootstrap Validator plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<!-- Bootstrap Validator plugin -->
<script
        src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>

<script th:src="@{js/fv.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#passwordForm').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {

                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required'
                        },
                        callback: {
                            callback: function (value, validator, $field) {
                                var password = $field.val();
                                if (password == '') {
                                    return true;
                                }

                                var result = zxcvbn(password),
                                    score = result.score,
                                    message = result.feedback.warning || 'The password is weak';

                                // Update the progress bar width and add alert class
                                var $bar = $('#strengthBar');
                                switch (score) {
                                    case 0:
                                        $bar.attr('class', 'progress-bar progress-bar-danger')
                                            .css('width', '1%');
                                        break;
                                    case 1:
                                        $bar.attr('class', 'progress-bar progress-bar-danger')
                                            .css('width', '25%');
                                        break;
                                    case 2:
                                        $bar.attr('class', 'progress-bar progress-bar-danger')
                                            .css('width', '50%');
                                        break;
                                    case 3:
                                        $bar.attr('class', 'progress-bar progress-bar-warning')
                                            .css('width', '75%');
                                        break;
                                    case 4:
                                        $bar.attr('class', 'progress-bar progress-bar-success')
                                            .css('width', '100%');
                                        break;
                                }

                                // We will treat the password as an invalid one if the score is less than 3
                                if (score < 3) {
                                    return {
                                        valid: false,
                                        message: message
                                    }
                                }

                                return true;
                            }
                        }
                    }
                }
            }
        });
    });

</script>

</body>
</html>