<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{messages.user.main.title}">User panel</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col s12">
        <h2 class="black-text center" th:text="#{messages.user.main.label.welcome}+' '+ ${user.firstName}"><b>Welcome NAME</b></h2>
    </div>
    <div class="col s4 offset-s4 blue lighten-4">
        <div class="row">
            <div class="col s6"><p class="left-align" th:text="#{messages.user.main.label.UserOffers}">Yours offers:</p></div>
            <div class="col s3"><p class="right-align"><b th:text="${user.offer.name}">OFFER</b></p></div>
        </div>
        <div class="row">
            <div class="col s6"><p class="left-align" th:text="#{messages.user.main.label.toPay}">To pay:</p></div>
            <div class="col s3"><p class="right-align"><b th:text="${leftToPay}">MONEY</b></p></div>
            <div class="col s3">
                <form class="col s6 blue lighten-4" th:action="@{/pay/{id}(id=${user.id})}" method="post" role="form">
                    <div class="center">
                        <button th:if="${leftToPay!=0}" class="waves-effect waves-light btn right-align modal-trigger"
                                type="submit"
                                name="action" th:text="#{messages.user.main.button.pay}">Pay
                        </button>
                        <button th:if="${leftToPay==0}" class="waves-effect waves-light btn right-align modal-trigger"
                                type="submit"
                                name="action" th:text="#{messages.user.main.button.pay}">Pay
                        </button>
                        <p th:text="#{messages.user.main.label.payForAnother}+' ('+${user.offer.price}+#{messages.common.currency.PL}+')'"></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col s6"><p class="left-align" th:text="#{messages.user.main.label.moneyInWallet}">Money in your wallet:</p></div>
            <div class="col s3"><p class="right-align" ><b th:text="${user.money}">MONEY</b></p></div>
            <div class="col s3">
                <a class="waves-effect waves-light btn right-align" th:href="@{/user_wallet/{id}(id=${user.id})}" th:text="#{messages.user.main.button.payIn}">Pay in</a>
            </div>
        </div>
        <div class="row">
            <div class="col s6"><p class="left-align" th:text="#{messages.user.main.label.dateToPay}">Date to pay for offers:</p></div>
            <div class="col s3"><p class="right-align"><b th:text="${user.payDateAsText}">DATE</b></p></div>
        </div>
    </div>
</div>

</body>
</html>