<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Panel użytkownika</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col s12">
        <h2 class="black-text center" th:text="'Witaj '+ ${user.firstName}"><b>Witaj IMIĘ</b></h2>
    </div>

    <div class="col s4 offset-s4 blue lighten-4">
        <div class="row">
            <div class="col s6"><p class="left-align">Twoje oferty: </p></div>
            <div class="col s3"><p class="right-align"><b>OFERTA</b></p></div>
        </div>

        <div class="row">
            <div class="col s6"><p class="left-align">Łączna kwota do zapłaty za usługi: </p></div>
            <div class="col s3"><p class="right-align"><b th:text="${leftToPay}">KWOTA PLN</b></p></div>
            <div class="col s3">
                <form class="col s6 blue lighten-4" th:action="@{/pay/{id}(id=${user.id})}" method="post" role="form">
                    <div class="center">
                        <button th:if="${leftToPay!=0}" class="waves-effect waves-light btn right-align modal-trigger"
                                type="submit"
                                name="action">Zapłać
                        </button>
                        <button th:if="${leftToPay==0}" class="waves-effect waves-light btn right-align modal-trigger"
                                type="submit"
                                name="action">Zapłać
                        </button>
                        <p th:text="'Zapłać za kolejną ('+${user.offer.price}+'zł)'"></p>

                    </div>
                </form>

            </div>
        </div>

        <div class="row">
            <div class="col s6"><p class="left-align">W Twoim portfelu znajduje się: </p></div>
            <div class="col s3"><p class="right-align" th:text="${user.money}"><b>KWOTA PLN</b></p></div>
            <div class="col s3">
                <a class="waves-effect waves-light btn right-align" th:href="@{/user_wallet/{id}(id=${user.id})}">Doładuj</a>
            </div>
        </div>

        <div class="row">
            <div class="col s6"><p class="left-align">Termin zapłaty za usługi: </p></div>
            <div class="col s3"><p class="right-align"><b th:text="${user.payDateAsText}">DATA</b></p></div>
        </div>
    </div>
</div>

</body>
</html>