<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8">
    <title>Panel użytkownika</title>
</head>
<body>
<ul id="nav-mobile" class="left hide-on-med-and-down blue-text text-darken-2" layout:fragment="nav">
    <li><a href="/user_main" class="grey-text text-darken-1">Strona główna</a></li>
    <li><a href="/user_offers" class="grey-text text-darken-1">Przeglądaj oferty</a></li>
    <li><a href="" class="grey-text text-darken-1">Doładuj portfel</a></li>
    <li><a href="" class="grey-text text-darken-1">Przeglądaj faktury</a></li>
    <li><a href="" class="grey-text text-darken-1">Ustawienia konta</a></li>
    <li><a href="" class="grey-text text-darken-1">Wyloguj</a></li>
</ul>
<div class="row" layout:fragment="content">
    <div class="col s12">
        <h2 class="black-text center"><b>Witaj IMIĘ</b></h2>
    </div>

    <div class="col s4 offset-s4 blue lighten-4">
        <div class="col s6"><p class="left-align">Twoje oferty: </p></div>
        <div class="col s3"><p class="right-align"><b>OFERTA</b></p></div>

        <div class="col s6"><p class="left-align">Łączna kwota do zapłaty za usługi: </p></div>
        <div class="col s3"><p class="right-align"><b>KWOTA PLN</b></p></div>
        <div class="col s3">
            <a class="waves-effect waves-light btn disabled right-align">Zapłać</a>
        </div>

        <div class="col s6"><p class="left-align">W Twoim portfelu znajduje się: </p></div>
        <div class="col s3"><p class="right-align"><b>KWOTA PLN</b></p></div>
        <div class="col s3">
            <a class="waves-effect waves-light btn right-align">Doładuj</a>
        </div>

        <div class="col s6"><p class="left-align">Termin zapłaty za usługi: </p></div>
        <div class="col s3"><p class="right-align"><b>DATA</b></p></div>
    </div>
</div>

</body>
</html>