<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8">
    <title>Oferty</title>
</head>
<body>
<ul id="nav-mobile" class="left hide-on-med-and-down blue-text text-darken-2" layout:fragment="nav">
    <li><a href="/user_main" class="grey-text text-darken-1">Strona główna</a></li>
    <li><a href="/user_offers" class="grey-text text-darken-1">Przeglądaj oferty</a></li>
    <li><a href="/user_wallet" class="grey-text text-darken-1">Doładuj portfel</a></li>
    <li><a href="/user_facture" class="grey-text text-darken-1">Przeglądaj faktury</a></li>
    <li><a href="/user_account" class="grey-text text-darken-1">Ustawienia konta</a></li>
    <li><a href="" class="grey-text text-darken-1">Wyloguj</a></li>
</ul>
<div class="row" layout:fragment="content">
    <div class="col s12">
        <h2 class="black-text center"><b>Przeglądaj oferty</b></h2>
    </div>

    <div class="col s4 offset-s4 blue lighten-4">
        <p>Poniżej widnieją Państwa aktualne usługi.</p>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">OFERTA #1</div>
                <div class="collapsible-body">
                    <span>OPIS OFERTY</span>
                    <div class="row">
                        <form class="row">
                            <div class="center">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Zrezygnuj
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>

        <p>Poniżej przedstawiamy naszą ofertę. Aby zobaczyć szczegły oferty proszę kliknąć interesujące Państwa pole z nazwą usługi.
        W celu wybrania oferty kliknij przecisk ZAPISZ widoczny w polu ukazywanym po wybraniu usługi.
        Nasz konsultant skontaktuje się z Państwem w celu ustalenia terminu montażu internetu przez naszego technika oraz podpisania umowy. ( ͡° ͜ʖ ͡°)</p>

        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">OFERTA #1</div>
                <div class="collapsible-body">
                    <div class="row">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam nec aliquam ipsum, vitae faucibus odio. Mauris euismod mi ligula, non gravida lectus efficitur id.
                    Sed sed dapibus mi, vel volutpat lorem. Proin vel tempor metus.
                    Ut arcu nisi, vehicula sit amet tellus nec, lobortis elementum ipsum.
                    Nullam eu pretium ligula. Nunc eu luctus lorem, ut fringilla odio.
                    </div>
                    <div class="row">
                        <table class="centered">
                            <thead>
                            <tr>
                                <th>Prędkość pobierania</th>
                                <th>Prędkość wysyłania</th>
                                <th>Cena</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>PRĘDKOŚĆ POBIERNAIA</td>
                                <td>PRĘDKOŚĆ WYSYŁANIA</td>
                                <td>CENA</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <form class="row">
                            <div class="center">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Wybierz!
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">OFERTA #2</div>
                <div class="collapsible-body">
                    <div class="row">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam nec aliquam ipsum, vitae faucibus odio. Mauris euismod mi ligula, non gravida lectus efficitur id.
                    Sed sed dapibus mi, vel volutpat lorem. Proin vel tempor metus.
                    Ut arcu nisi, vehicula sit amet tellus nec, lobortis elementum ipsum.
                    Nullam eu pretium ligula. Nunc eu luctus lorem, ut fringilla odio.
                    </div>
                    <div class="row">
                        <table class="centered">
                            <thead>
                            <tr>
                                <th>Prędkość pobierania</th>
                                <th>Prędkość wysyłania</th>
                                <th>Cena</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>PRĘDKOŚĆ POBIERNAIA</td>
                                <td>PRĘDKOŚĆ WYSYŁANIA</td>
                                <td>CENA</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <form class="row">
                            <div class="center">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Wybierz!
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">OFERTA #3</div>
                <div class="collapsible-body">
                    <div class="row">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam nec aliquam ipsum, vitae faucibus odio. Mauris euismod mi ligula, non gravida lectus efficitur id.
                    Sed sed dapibus mi, vel volutpat lorem. Proin vel tempor metus.
                    Ut arcu nisi, vehicula sit amet tellus nec, lobortis elementum ipsum.
                    Nullam eu pretium ligula. Nunc eu luctus lorem, ut fringilla odio.
                    </div>
                    <div class="row">
                        <table class="centered">
                            <thead>
                            <tr>
                                <th>Prędkość pobierania</th>
                                <th>Prędkość wysyłania</th>
                                <th>Cena</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>PRĘDKOŚĆ POBIERNAIA</td>
                                <td>PRĘDKOŚĆ WYSYŁANIA</td>
                                <td>CENA</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <form class="row">
                            <div class="center">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Wybierz!
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
</html>