<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8">
    <title>Faktury</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col s12">
        <h2 class="black-text center"><b>Faktury</b></h2>
    </div>

    <div class="col s4 offset-s4 blue lighten-4">
        <table>
            <thead>
            <tr>
                <th>Numer faktury</th>
                <th>Cena</th>
                <th>Termin zapłaty</th>
                <th>Data wystawienia</th>
                <th>Data wpłaty</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>NUMER FAKTURY</td>
                <td>CENA</td>
                <td>TERMIN ZAPŁATY</td>
                <td>DATA WYSTAWIENIA</td>
                <td>DATA WPŁATY</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>