<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8">
    <title th:text="#{messages.user.invoices.title}">Invoices</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col s12">
        <h2 class="black-text center"><b th:text="#{messages.user.invoices.mainHeader}">Invoices</b></h2>
    </div>

    <div class="col s4 offset-s4 blue lighten-4">
        <table>
            <thead>
            <tr>
                <th th:text="#{messages.user.invoices.label.invoiceNumber}">Invoice number</th>
                <th th:text="#{messages.common.label.price}">Price</th>
                <th th:text="#{messages.user.invoices.label.payDate}">Pay date</th>
                <th th:text="#{messages.user.invoices.label.issueDate}">Issue date</th>
                <th th:text="#{messages.user.invoices.label.paymentDate}">Payment date</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="invoice : ${invoices}">
                <td th:text="${invoice.invoiceNumber}">Invoice number</td>
                <td th:text="${invoice.price}">Price</td>
                <td th:text="${invoice.paymentDeadlineAsText}">Pay date</td>
                <td th:text="${invoice.issueDateAsText}">Issue date</td>
                <td th:text="${invoice.paymentDateAsText}">Payment date</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>