<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8">
    <title>Portfel</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col s12">
        <h2 class="black-text center"><b>Doładuj portfel</b></h2>
    </div>

    <div class="col s4 offset-s4 blue lighten-4">
        <p>
            Maksymalna kwota jaką mogą Państwo zasilić konto wynosi 200zł.
        </p>
        <form class="row">
            <div class="input-field row">
                <input id="pesel" type="text" class="validate">
                <label for="pesel">Kwota</label>
            </div>
            <div class="center">
                <button class="btn waves-effect waves-light" type="submit" name="action">Doładuj
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </form>
    </div>
</div>

</body>
</html>